<div class="card">  
    <div class="card-body">  
      <form [formGroup]="angForm">  
        <div class="form-group">  
          <label class="col-md-4">Name</label>  
          <input formControlName="Name" type="text" class="form-control" />  
        </div> 
        <div *ngIf="angForm.controls['Name'].invalid && (angForm.controls['Name'].dirty || angForm.controls['Name'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['Name'].errors.required">  
              Name is required.  
            </div> 
        </div>
        <div class="form-group">  
          <label class="col-md-4">Phone</label>  
          <input formControlName="Phone" type="text" class="form-control" />  
        </div> 
        <div class="form-group">  
          <label class="col-md-4">Email</label>  
          <input formControlName="Email" type="text" class="form-control" />  
        </div> 
        
        <div *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['Email'].errors.required">  
              Email is required.  
            </div> 
        </div>
        <div class="form-group">  
          <label class="col-md-4">Password</label>  
          <input formControlName="Password" type="password" class="form-control" />  
        </div> 
        
        <div *ngIf="angForm.controls['Password'].invalid && (angForm.controls['Password'].dirty || angForm.controls['Password'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['Password'].errors.required">  
              Password is required.  
            </div> 
        </div>
        <div class="form-group">  
          <label class="col-md-4">Date Of Birth</label>  
          <input formControlName="DateOfBirth" type="date" class="form-control" />  
        </div>  
        
        <div *ngIf="angForm.controls['DateOfBirth'].invalid && (angForm.controls['DateOfBirth'].dirty || angForm.controls['DateOfBirth'].touched)" class="alert alert-danger">  
            <div *ngIf="angForm.controls['DateOfBirth'].errors.required">  
              Date Of Birth is required.  
            </div> 
        </div>
        <div class="form-group">  
          <button (click)="addUser()" [disabled]="angForm.pristine || angForm.invalid"  type="submit" class="btn btn-primary">Register</button>  
        </div>  
        <div class="form-group">
          <a href="./user/login" >Already have account.</a>
        </div>
      </form>  
    </div>  
  </div> 
