<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-8">
                <input [(ngModel)] = "SearchText" (focus) = "GetUserList()" type="text">
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12"  *ngFor="let tile of tiles">
                    <div class="user-avatar"><img class="user-avatar-image" src="{{tile.img}}" /></div>
                    <div class="user-details">
                        <div class="user-name">{{tile.Name}}</div>
                        <div class="user-about">{{tile.about}}</div>
                        <div class="user-category">{{tile.category}}</div>
                        <div class="user-vote">{{tile.vote}}</div>
                    </div>
                </div>
        </div>
        <div class="pagination">
          <div class="row">
            <div class="col-lg-12">
              <span><Button class="btn"><<Prev</Button>
                <input type="text" class="navigate-input" value=1>
              <Button class="btn">Next>></Button></span>
            </div>
          </div>  
        </div>

    </div>
</div>