<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-landing-post" role="tab" aria-controls="nav-landing-post" aria-selected="true">Posts</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-landing-blog" role="tab" aria-controls="nav-landing-blog" aria-selected="false">Blogs</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-landing-user" role="tab" aria-controls="nav-landing-user" aria-selected="false">Users</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-landing-tabContent">
        <div class="tab-pane fade show active" id="nav-landing-post" role="tabpanel" aria-labelledby="nav-landing-post-tab">
          <app-post-get></app-post-get>
        </div>
        <div class="tab-pane fade" id="nav-landing-blog" role="tabpanel" aria-labelledby="nav-landing-blog-tab">
          <app-blog-get></app-blog-get>
        </div>
        <div class="tab-pane fade" id="nav-landing-user" role="tabpanel" aria-labelledby="nav-landing-user-tab">
          <app-user-get></app-user-get>
        </div>
      </div>
    </div>
</div>
