.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .user-avatar-image{
      border-radius:50px;
      border: 1px solid #007bff30;
      width: 100px;
      height:100px;
  }
  .user-avatar{
      float: left;
      margin: 5px;
  }
  .navigate-input{
    max-width: 2em;
  }
  .user-details{
    margin-top:10px;
  }
  .user-details-card{
    margin-top: 10px;
    margin-bottom: 10px;
  }