<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 user-details-card"  *ngFor="let tile of tiles">
                    <div class="user-avatar"><img class="user-avatar-image" src="{{tile.img}}" /></div>
                    <div class="user-details">
                        <a href="/user/1123/some user" class="user-name">{{tile.Name}}</a>
                        <div class="user-about"><small>{{tile.about}}</small></div>
                        <div class="user-category"><small>{{tile.category}}</small></div>
                        <div class="user-vote"><small>{{tile.vote}}</small></div>
                    </div>
                </div>
        </div>


    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">. . .</a></li>
        <li class="page-item"><a class="page-link" href="#">29</a></li>
        <li class="page-item"><a class="page-link" href="#">30</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>