<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">
        <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12"  *ngFor="let post of postItem">
                    <div class="blog-image-container"><img class="blog-image" src="{{post.MainContentImageUrl}}" /></div>
                    <div class="blog-details">
                        <div class="blog-title"><a href="{{post.Url}}" target="_blank" > {{post.Title}}</a></div>
                        <div class="blog-excerpt">{{post.SubTitle}}</div>
                        <div class="blog-category"><small><i>{{post.Category?.Name}}</i></small></div>
                        <div class="blog-vote"><small>{{post.Votes}}</small></div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
  <div class="pagination-container">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li [ngClass]="{'disabled':DisablePreviousButton}" (click)="previousPage()" class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        <li [ngClass]="{'active': IsActivePageNumber(pageNumberButton),'disabled': IsPageNumberDots(pageNumberButton)}" class="page-item" (click)="GoToPage(pageNumberButton)" *ngFor="let pageNumberButton of PageNumberButtons"><a class="page-link" href="javascript:void(0)">{{pageNumberButton}}</a></li>
        <li [ngClass]="{'disabled':DisableNextButton}" (click)="nextPage()" class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
      </ul>
    </nav>
  </div> 
</div>
</div>