<div [froalaEditor]>Hello, Froala!</div>
<!-- 
<div class="row">
    <div class="offset-lg-1 col-lg-10">
        <h1 class="content-title"><input class="form-control mr-sm-2" type="text" ([ngModel])="title" placeholder="Title"></h1>
        <h4 class="content-sub-title"> <input type="text" class="form-control mr-sm-2" ([ngModel])="subTitle" placeholder="Subtitle"></h4>
        <hr>
        <div class="blog-image" >
            <input type="file" class="form-control mr-sm-2" ([ngModel])="subTitle" placeholder="Content Image">
            <div class="main-image-title"><span><input type="text" class="form-control mr-sm-2" ([ngModel])="subTitle" placeholder="Content Image Subtitle"></span></div>
            <hr>
        </div>
        <div class="editor">
            <app-ngx-editor height="500px" min-height="200px" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
        </div>
        <hr>
        <div class="row">
            
            <div class="col-lg-12">
                <input type="text" class="form-control mr-sm-2" ([ngModel])="tags" placeholder="comma Separated tags">
            </div>
        </div>
        <div class="separator-margin-top-10">
            <hr>
        </div>
        <div class="row">
            <div class="offset-lg-9 col-lg-3">
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-primary">Preview</button>
            </div>
        </div>
    </div>
</div> -->
