
<div class="row">
   
<div class="col-lg-10">
    <h1 class="content-title">{{post.Title}}</h1>
    <h4 class="content-sub-title">{{post.SubTitle}}</h4>
    <hr>
    <div class="blog-image" >
        <img src="{{post.MainContentImageUrl}}" class="main-image"/>
        <div class="main-image-title"><small>{{post.MainContentImageSubtitle}}</small></div>
        <hr>
    </div>
    <div class="text-justify" [innerHTML]="post.Content">
      
    </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <div class="advertiser">
        <img style="border: 1px solid black; width: 200px;" class="advertiser-image" src="../assets/images/advertiser.jpg" />
    </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <div class="advertiser">
      <img style="border: 1px solid black;" class="advertiser-image col-lg-10" src="../assets/images/advertiserHorizontal.jpg" />
  </div>
  </div>
</div>
<div class="row">
    <div class=" col-lg-10">
        <hr>
        <div class="post-badges-share">
          <button class="badge badge-primary">Subscribe</button>&nbsp;
          <button class="badge badge-secondary">Recommend <span class="badge badge-danger">{{post.Votes}}</span></button>&nbsp;
          <button class="badge badge-success">Share</button>
        </div>
        <hr>
        <div class="creator-details">
            <div class="user-avatar">
                <img  class="user-avatar-image" src="{{post?.Author?.ImageUrl}}" />
            </div>
            <div class="user-details">
                <div class="user-name">{{post.Author?.Name}}</div>
                <div class="user-about"><small>{{post.Author?.About}}</small></div>
                <div class="user-category"><small *ngIf="post.Author?.Categories && post.Author?.Categories.length>0">{{post.Author?.Categories[0]?.Name}}</small></div>
                <div class="user-vote"><small>{{post.Author?.Vote}}</small></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <hr>
    </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a href="{{post.Previous}}" class="btn btn-success"><< Previous post</a>
  </div>
  <div class="col-lg-2">
    <a href="{{post.Next}}" class="btn btn-success float-right">Next post >></a>
  </div>
</div>

<div class="row">
  <div class="offset-lg-2 col-lg-6">
    <button (click)="loadComment(post.PostKey)" class="btn btn-default col-lg-12 border" data-toggle="modal" data-target="#postCommentModal" >Comments</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
      
    <hr>
      <h2>
          Posts you may like.
      </h2>
  </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let recommendedPost of recommendedPosts">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{recommendedPost.Title}}</h5>
                <small>{{recommendedPost.CreatedAt | timeAgo}}</small>
              </div>
              <p class="mb-1">{{recommendedPost.Excerpt}}</p>
              <small>{{recommendedPost.Title}}</small>
            </a>
          </div>
    </div>
</div>

<div class="modal fade" id="postCommentModal" tabindex="-1" role="dialog" aria-labelledby="postCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postCommentModalLabel">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
                <div class="list-group">
                  <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <textarea class="col-lg-12" placeholder="Type your comment..."></textarea><br>
                  <button class="btn btn-success" type="button">Comment</button>
                  </div>
                  <hr>
                    <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let comment of commentsItem">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{comment?.CreatedBy?.Name}}</h5>
                        <small>{{comment.CreatedAt | timeAgo}}</small>
                      </div>
                      <p class="mb-1">{{comment.Content}}</p>
                      <small></small>
                    </div>
                    <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                      <small class="text-muted">Donec id elit non mi porta.</small>
                    </a> -->
                  </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
          <button *ngIf="commentAvailableInBuffer" (click)="loadMoreComment()" class="btn btn-default border col-lg-12">Load more </button>
        </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
