
<div class="row">
   
    <div class="col-lg-10">
        <h1 class="content-title">Blog Title</h1>
        <h4 class="content-sub-title">Blog subtitle and hence the subtitle</h4>
        <hr>
        <div class="blog-image" >
            <img src="../assets/images/blog.jpg" class="main-image"/>
            <div class="main-image-title"><small>the camera never speaks.</small></div>
            <hr>
        </div>
        <div class="text-justify">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus sem augue, feugiat hendrerit lacus rutrum in. Vivamus faucibus ullamcorper nisi vitae auctor. Donec hendrerit accumsan lectus. Nulla gravida, orci in finibus elementum, felis est convallis neque, nec hendrerit urna odio ut nulla. Fusce augue nunc, ornare in risus at, porttitor molestie lectus. Aliquam a fermentum nulla. Sed molestie tristique leo eget lobortis. Pellentesque molestie pulvinar massa laoreet tristique. Cras convallis ac ante vitae lacinia. Nunc imperdiet elementum congue. In hac habitasse platea dictumst. Suspendisse iaculis bibendum dolor vitae blandit. Phasellus ac diam placerat, tempor mi ut, luctus dolor. Nulla facilisi.
        </p>
        <p>
        Vivamus vitae nibh sodales, accumsan mauris egestas, laoreet justo. Pellentesque felis nisi, pellentesque ut pulvinar ultricies, eleifend quis arcu. Suspendisse iaculis odio non orci vulputate pretium at ac lacus. Vestibulum commodo diam eget tortor accumsan, at auctor risus tempor. Phasellus eget metus id nulla vehicula iaculis nec quis risus. Vivamus fringilla lectus turpis, eu viverra arcu sodales ut. Pellentesque et lectus nunc. Quisque efficitur quis erat ut facilisis. Nunc ut imperdiet lorem, ut cursus est. Phasellus tincidunt risus lectus, in mattis est venenatis a.
        </p>
        <p>
        Donec dui risus, finibus non lacus ac, tincidunt hendrerit ex. Nam laoreet erat sit amet laoreet hendrerit. Aliquam purus lorem, commodo ac suscipit non, vehicula vel mi. Phasellus vel tristique elit, ut venenatis urna. Phasellus sagittis sem sit amet metus tempus, a vehicula leo lacinia. Vestibulum interdum nisl in ornare consequat. Suspendisse eleifend lorem eget justo vulputate posuere. Fusce viverra lectus nec finibus blandit. Sed fermentum, nisi sit amet posuere maximus, massa risus pulvinar massa, vel suscipit nisl nulla vel neque. Suspendisse aliquet, nibh sed accumsan imperdiet, mi purus condimentum ipsum, a convallis dui nisl nec sapien.
        </p>
        <p>
        Maecenas auctor felis eget tincidunt euismod. Pellentesque interdum vulputate convallis. Proin placerat eleifend nunc sed placerat. Ut lobortis eu risus blandit mattis. Morbi rutrum facilisis varius. Nam id metus blandit, aliquam quam vitae, bibendum magna. In hac habitasse platea dictumst. Nulla vel felis efficitur, efficitur purus non, gravida orci.
        </p>
        <p>
        Vestibulum finibus dapibus aliquam. Donec aliquet nulla diam, ac tincidunt nulla euismod eu. Aenean tempus neque libero, venenatis pellentesque magna tincidunt a. In vitae euismod neque. Duis venenatis ornare nunc ut accumsan. Integer felis lorem, luctus at elit eget, semper tincidunt dolor. In vulputate non sapien vitae vehicula. Phasellus lorem justo, fermentum eget egestas a, tristique eu ex. Integer neque felis, tincidunt eget ligula vel, pulvinar vehicula orci. Aenean faucibus massa ut ex cursus tempor. Nunc felis quam, commodo sit amet felis sit amet, dignissim mollis dolor. Fusce eget est in nunc vestibulum tempus vulputate ut urna. Sed aliquam semper magna id ullamcorper. Aenean rhoncus ultricies arcu, non faucibus justo porta non. Nullam enim turpis, semper non euismod vitae, bibendum a ex. Mauris gravida velit est, eu egestas nibh aliquet ut.
        </p>
    </div>
    </div>
    <div class="col-lg-2 d-none d-lg-block">
      <div class="advertiser">
        <img style="border: 1px solid black; width: 200px;" class="advertiser-image" src="../assets/images/advertiser.jpg" />
    </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <div class="advertiser">
      <img style="border: 1px solid black;" class="advertiser-image col-lg-10" src="../assets/images/advertiserHorizontal.jpg" />
  </div>
  </div>
</div>
<div class="row">
    <div class=" col-lg-10">
        <hr>
        <div class="post-badges-share">
          <button class="badge badge-primary">Subscribe</button>&nbsp;
          <button class="badge badge-secondary">Recommend <span class="badge badge-danger">5</span></button>&nbsp;
          <button class="badge badge-success">Share</button>
        </div>
        <hr>
        <div class="creator-details">
            <div class="user-avatar">
                <img  class="user-avatar-image" src="../assets/images/user.jpg" />
            </div>
            <div class="user-details">
                <div class="user-name">Awesome User</div>
                <div class="user-about"><small>Awesome user create awesome blogs</small></div>
                <div class="user-category"><small>AWS Developer</small></div>
                <div class="user-vote"><small>243</small></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <hr>
    </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <a href="#" class="btn btn-success"><< Previous post</a>
  </div>
  <div class="col-lg-2">
    <a href="#" class="btn btn-success float-right">Next post >></a>
  </div>
</div>

<div class="row">
  <div class="col-lg-10">
      <hr>
  </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
          </div>
    </div>
</div>
