.separator-margin-top-20{
    height: 50px;
    margin-top: 30px;
}
.main-contentainer{
    padding-top:80px;  
}
.footer{
    background-color:#f8f9fa;
}
.footer-separator-margin{
    height:10px;
}
.search-bar{
    width: 224px;
    margin-right: 46px;
}
.search-icon{
    color:#bcbebf;
}