





          <div class="row" >

            <div class="col-lg-4 col-md-6 mb-4" ng-repeat="blog in blogs">
              <div class="card h-100">
                <a href="{{blog.Url}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{blog.Url}}">{{blog.title}}</a>
                  </h4>
                  <h5>{{blog.views}}</h5>
                  <p class="card-text">{{blog.short_description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>


          </div>
          <!-- /.row -->

