<div class="row">
    <div class="col-lg-4">
        <div class="user-profile-pic-container">
            <img src="/assets/images/profile.jpg" class="user-profile-pic">
        </div>
        <div>
            
                <div class="col-lg-12 text-center user-profile-name-holder">Cras justo odio</div>
              
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group list-group-horizontal text-center">
                    <li class="list-group-item col-lg-4">Blogs <span class="badge badge-primary">9</span></li>
                    <li class="list-group-item col-lg-4">Posts <span class="badge badge-primary">92</span></li>
                    <li class="list-group-item col-lg-4">Votes <span class="badge badge-primary">9K+</span></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="details">
            <div class="row">
                <div class="col-lg-12">
                    <b>About</b><br><br>
                    <div class="user-about">
                        Fusce augue nunc, ornare in risus at, porttitor molestie lectus. Aliquam a fermentum nulla. Sed molestie tristique leo eget lobortis. Pellentesque molestie pulvinar massa laoreet tristique. Cras convallis ac ante vitae lacinia. Nunc imperdiet elementum congue. In hac habitasse platea dictumst. Suspendisse iaculis bibendum dolor vitae blandit. Phasellus ac diam placerat, tempor mi ut, luctus dolor. Nulla facilisi.
                    </div>
                    <br>
                    
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Email:</th>
                                <td>
                                    <div class="">email1@test.com</div>
                                    <input *ngIg="IsEditing" type="text"></td>
                            </tr>
                            <tr>
                                <th>Password:</th>
                                <td>
                                    <div class="">*************</div>
                                    <input *ngIg="IsEditing" type="password"></td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>
                                    <div class="">988345098345</div>
                                    <input *ngIg="IsEditing" type="text"></td>
                            </tr>
                            <tr>
                                <th>Website:</th>
                                <td>
                                    <div class="">https://www.testing.com</div>
                                    <input *ngIg="IsEditing" type="text"></td>
                            </tr>
                            <tr>
                                <th>Date of joining:</th>
                                <td>
                                    <div class="">12th january 2001</div>
                                    <input *ngIg="IsEditing" type="text"></td>
                            </tr>
                            <tr>
                                <th>Last active:</th>
                                <td>
                                    <div class="">a minute ago</div>
                                    <input *ngIg="IsEditing" type="text"></td>
                            </tr>
                        </tbody>
                    
                </table>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-lg-3">
        <div class="details">
            <div class="row">
                <div class="col-lg-12">
                    <b>Topics involved in</b><br><br>
                    <ul class="list-group">
                        <li class="list-group-item">Amazon Web Service <span class="badge badge-primary">9</span></li>
                        <li class="list-group-item">Comedy <span class="badge badge-primary">92</span></li>
                        <li class="list-group-item">Aritificial Intelegence <span class="badge badge-primary">9K+</span></li>
                      </ul>
                </div><br>
                
            </div>
        </div>
    </div>
    </div>
    <hr>
  
    <div class="row">
        <div class="col-lg-10">
          <div class="advertiser">
            <img style="border: 1px solid black;" class="advertiser-image col-lg-10" src="../assets/images/advertiserHorizontal.jpg" />
        </div>
        </div>
      </div>
