<div class="row">
    <div class="col-lg-4">
        <div class="user-profile-pic-container">
            <img src="{{user?.ImageUrl}}" class="user-profile-pic">
        </div>
        <div>
            
            <div class="col-lg-12 text-center user-profile-name-holder"  *ngIf="!IsEditing">{{user?.Name}}</div>
            <div class="col-lg-12 text-center user-profile-name-holder" *ngIf="IsEditing"><input type="file" (change)="previewImage($event)" name="profilePicture"><br> <input class="col-lg-10" type="text"  value="{{user?.Name}}"></div>
              
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group list-group-horizontal text-center">
                    <li class="list-group-item col-lg-4">Blogs <span class="badge badge-primary">{{user?.BlogCount | shortNumber}}</span></li>
                    <li class="list-group-item col-lg-4">Posts <span class="badge badge-primary">{{user?.PostCount | shortNumber}}</span></li>
                    <li class="list-group-item col-lg-4">Votes <span class="badge badge-primary">{{user?.Vote | shortNumber}}</span></li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="details">
            <div class="row">
                <div class="col-lg-12">
                    <b>About</b>
                    <div class="pull-right"  *ngIf="currentUser && currentUser?.UserID==user?.UserID">
                        <a href="javascript:void(0);" (click)="editUserProfile()" *ngIf="!IsEditing">Edit</a>
                        <a href="javascript:void(0);" (click)="editUserProfile()" *ngIf="IsEditing">Cancel</a>
                     </div><br><br>
                    <div class="user-about"  *ngIf="!IsEditing">
                        {{user?.About}}
                    </div>
                    <div class="user-about" *ngIf="IsEditing">
                        <textarea name="user-about" [(ngModel)]="user.About" class="user-about-textarea">{{user?.About}}</textarea>
                    </div>
                    <br>
                    
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Email:</th>
                                <td>
                                    <div class=""  *ngIf="!IsEditing">{{user?.Email}}</div>
                                    <input *ngIf="IsEditing"  [(ngModel)]="user.Email" type="text" value="{{user?.Email}}"></td>
                            </tr>
                            <tr>
                                <th>Password:</th>
                                <td>
                                    <div class="" *ngIf="!IsEditing">*************</div>
                                    <input *ngIf="IsEditing" type="password" placeholder="Change Password"></td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>
                                    <div class="" *ngIf="!IsEditing">{{user?.Phone}}</div>
                                    <input *ngIf="IsEditing"  [(ngModel)]="user.Phone" type="text" value="{{user?.Phone}}"></td>
                            </tr>
                            <tr>
                                <th>Website:</th>
                                <td>
                                    <div class="" *ngIf="!IsEditing"><a href="{{user?.Website}}" target="_blank" >{{user?.Website}}</a></div>
                                    <input *ngIf="IsEditing"  [(ngModel)]="user.Website" type="text" value="{{user?.Website}}"></td>
                            </tr>
                            <tr>
                                <th>Date of joining:</th>
                                <td>
                                    <div class="">{{user?.DateOfJoining | timeAgo}}</div>
                            </tr>
                            <tr>
                                <th>Last active:</th>
                                <td>
                                    <div class="">{{user?.LastActive | timeAgo}}</div>
                            </tr>
                            <tr *ngIf="IsEditing" >
                                <th>Danger zone:</th>
                                <td>
                                    <div class=""><button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal">Delete Profile</button></div>
                            </tr>
                        </tbody>
                    
                </table>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-lg-3">
        <div class="details">
            <div class="row">
                <div class="col-lg-12">
                    <b>Topics involved in</b><br><br>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let category of user?.Categories">{{category?.Name}} <span class="badge badge-primary">{{category?.PostCount}}</span></li>
                      </ul>
                </div><br>
                
            </div>
        </div>
    </div>
    </div>
    <div class="row"  *ngIf="IsEditing">
        <div class="offset-lg-4 col-lg-2">
            <div class="profile-controls text-center">
                <button class="btn btn-primary col-lg-12" (click)="saveProfile()">Save</button>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="profile-controls text-center">
                <button class="btn btn-danger col-lg-12" (click)="cancelProfileEdit()">Cancel</button>
            </div>
        </div>
        
      </div>
    <hr>
  

    <div class="row">
        <div class="col-lg-10">
          <div class="advertiser">
            <img style="border: 1px solid black;" class="advertiser-image col-lg-10" src="../assets/images/advertiserHorizontal.jpg" />
        </div>
        </div>
      </div>
      <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete your profile?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              This will delete all your activity including your blogs and posts. 
              <small><b>Note:</b> Your profile will be disabled for 10 days. If you login with your credentials before that, your profile will be again activated including all your activity. After that it will deleted permanently and cannot be restored.</small>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="DeleteProfile()" class="btn btn-danger">Yes</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>